@import "tailwindcss";

/* add your custom global styles using @layer base or regular CSS */
@layer base {
  

  /* set full-page gradient for body */
 body {
     /* background: radial-gradient(circle at center, #000000 0%, #000000 90%); */
     background-attachment: fixed; /* keeps gradient still on scroll */
     color: white; /* optional: ensures text stays visible */
}

@layer components {
  /* custom components */
}

@layer utilities {
  /* custom utilities */
  }
}

/* Hide scrollbar globally */
::-webkit-scrollbar {
  display: none;
}

html, body {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* Internet Explorer 10+ */
}

#glow-line {
  background: radial-gradient(circle at center, rgba(56,189,248,1) 0%, rgba(56,189,248,0.2) 50%, rgba(56,189,248,0) 100%);
  box-shadow: 0 0 15px rgba(56,189,248,0.7);
}

@keyframes spin-slow {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.animate-spin-slow {
  animation: spin-slow 100s linear infinite;
}
