@import "tailwindcss";

/* add your custom global styles using @layer base or regular CSS */
@layer base {
  

  /* set full-page gradient for body */
 body {
     background: radial-gradient(circle at 20% 20%, #1a1a1a, #000000 90%);
     background-attachment: fixed; /* keeps gradient still on scroll */
     color: white; /* optional: ensures text stays visible */
}

@layer components {
  /* custom components */
}

@layer utilities {
  /* custom utilities */
  }
}

/* Hide scrollbar globally */
::-webkit-scrollbar {
  display: none;
}

html, body {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* Internet Explorer 10+ */
}
